{{define "title"}}
Home
{{end}}

{{define "main"}}
    <main class="px-3"> 
        <h1>Home Page Cover.</h1> 
        <p class="lead">
            This is temporary wording for the home page. An intro to the app should be put here. Maybe an explanation for the app? I don't know.
        </p> 
        <p class="lead"> 
            <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a> 
        </p> 
    </main> 
{{end}}