{{define "nav"}}
    <nav class="nav nav-masthead justify-content-center float-md-end">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navigation</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link fw-bold py-1 px-0" href="/user/view">View user</a>
                </li>
                <li class="nav-item">
                <a class="nav-link fw-bold py-1 px-0" href="/user/create">New user</a>
                </li>
                <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
{{end}}